<header class="header">
  <div class="container">
    <a href="/" class="logo">Landlord Notice Generator</a>
    <nav>
      <a href="/select">Generate Notice</a>
      <a href="/select#pricing">Pricing</a>
      <a href="/select#faq">FAQ</a>
    </nav>
  </div>
</header>
